# Auth
AUTH_URL=http://localhost:3000
AUTH_SECRET= # you can generate this with: openssl rand -base64 32
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://iymgrxxcdketuclkiaen.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=